:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Poppins', sans-serif;

	--page-bg: #fff;
	--text-color: #000;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}
