<footer class="footer">
	<div class="footer-section container">	
		<div class="footer-section__title">level up <span class="blue-round"></span></div>
		<div class="footer-section__nav">
			<ul class="footer-section__ul">
				<li class="footer-section__li"><a class="footer-section__a" href="#team">Our team</a></li>
				<li class="footer-section__li"><a class="footer-section__a" href="#courses">Courses</a></li>
				<li class="footer-section__li"><a class="footer-section__a" href="#reviews">Reviews</a></li>
				<li class="footer-section__li"><a class="footer-section__a" href="#contacts">Contacts</a></li>
			</ul>
		</div>
		<div class="header__menuicons">
			<ul class="header__social">
				<li class="header__li"><a  href="/"><img src="../../img/icon/instagram.png" alt="instagram" width="30" height="30"></a></li>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
					<circle cx="15" cy="15" r="14.5" fill="#F1E896" stroke="black"/>
				  </svg>
				<li class="header__li"><a  href="/"><img src="../../img/icon/facebook.png" alt="facebook" width="30" height="30"></a></li>
		</ul>
		</div>
	</div>
</footer>
