<header class="header">
	<div class="header__nav container">
		<div class="header__backdrop" id="headerBackdrop" onclick="navToggle()"></div>
		<div class="header__menulist">
			<a href="/" class="header__logo"><img src="../../img/logo.png" alt="logo" width="53" height="53"></a>
			
			<ul class="header__ul" id="headerUl">
				<li class="header__li"><a class="header__a" href="#team">Our team</a></li>
				<li class="header__li"><a class="header__a" href="#courses">Courses</a></li>
				<li class="header__li"><a class="header__a" href="#reviews">Reviews</a></li>
				<li class="header__li"><a class="header__a" href="#contacts">Contacts</a></li>
				<span class="material-icons icon-close" onclick="navToggle()">close</span>	
			</ul>
		</div>
		<div class="header__menuicons">
			<ul class="header__social">
				<li class="header__li"><a  href="/"><img src="../../img/icon/instagram.png" alt="instagram" width="30" height="30"></a></li>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
					<circle cx="15" cy="15" r="14.5" fill="#F1E896" stroke="black"/>
				  </svg>
				<li class="header__li"><a  href="/"><img src="../../img/icon/facebook.png" alt="facebook" width="30" height="30"></a></li>
			
			</ul>
			<button class="btn header_btn">Call Me</button>
		</div>
		<span class="material-icons icon-menu" onclick="navToggle()">menu</span>
	</div>
</header>
