<section class="section-contacts" id="contacts">
    <div class="contacts-section container" >
        <h2 class="contacts-section__title text-focus-in">contacts</h2>

        <div class="contacts-section__content">
            
            <div class="contacts-section__info">
                        
                <div class="contacts-section__item">
                    <img src="../../../img/icon/pointer.svg" alt="pointer" width="50" height="50">
                    <div class="contacts-section__desc">
                        <div class="contact__title">Address</div>
                        <div class="contact__desc">931 Washington Dr.Pittsfield, MA 01201</div>
                    </div>
                </div>

                <div class="contacts-section__item">
                    <img src="../../../img/icon/telephone.svg" alt="telephone" width="50" height="50">
                    <div class="contacts-section__desc">
                        <div class="contact__title">Phone</div>
                        <div class="contact__desc">+421 908 39 41 10, <br>+421 908 39 41 19</div>
                    </div>
                </div>

                <div class="contacts-section__item">
                    <img src="../../../img/icon/cusstomer.svg" alt="cusstomer" width="50" height="50">
                    <div class="contacts-section__desc">
                        <div class="contact__title">customer service</div>
                        <div class="contact__desc">+421 908 39 41 10, <br>+421 908 39 41 19</div>
                    </div>
                </div>
            </div>   
            <img src="../../../img/map.jpg" alt="map" class="contacts-section__img" width="922" height="615">
         </div>
    </div>
</section>