<section class="section-categories" id="courses">
    <div class="categories-section" >
        <h2 class="categories-section__title text-focus-in">choose your category</h2>

        <div class="categories-section__box">
            <div class="categories-section__item">
                <h3 class="item__title">Development</h3>
                <div class="item__hover__info">
                    <p class="item__decs">Quisque vel erat sed orci pellentesf vulputate vitae imperdiet est. Etiam sit amet hendrerit dolor, quis volutp libero. Etiam scelerisque convallis augue, non ultrices magna tristique eget.</p>
                    <div class="item__arrow"><img src="../../../img/icon/blue-arrow.svg" alt="blue arrow" width="35" height="42"></div>
                </div>
            </div>

            <div class="categories-section__item none-border">
                <h3 class="item__title">Design</h3>
                <div class="item__hover__info">
                    <p class="item__decs">Quisque vel erat sed orci pellentesf vulputate vitae imperdiet est. Etiam sit amet hendrerit dolor, quis volutp libero. Etiam scelerisque convallis augue, non ultrices magna tristique eget.</p>
                    <div class="item__arrow"><img src="../../../img/icon/blue-arrow.svg" alt="blue arrow" width="35" height="42"></div>
                </div>
            </div>

            <div class="categories-section__item none-border">
                <h3 class="item__title">IT & Software</h3>
                <div class="item__hover__info">
                    <p class="item__decs">Quisque vel erat sed orci pellentesf vulputate vitae imperdiet est. Etiam sit amet hendrerit dolor, quis volutp libero. Etiam scelerisque convallis augue, non ultrices magna tristique eget.</p>
                    <div class="item__arrow"><img src="../../../img/icon/blue-arrow.svg" alt="blue arrow" width="35" height="42"></div>
                </div>
            </div>

            <div class="categories-section__item none-border">
                <h3 class="item__title">Software Testing</h3>
                <div class="item__hover__info">
                    <p class="item__decs">Quisque vel erat sed orci pellentesf vulputate vitae imperdiet est. Etiam sit amet hendrerit dolor, quis volutp libero. Etiam scelerisque convallis augue, non ultrices magna tristique eget.</p>
                    <div class="item__arrow"><img src="../../../img/icon/blue-arrow.svg" alt="blue arrow" width="35" height="42"></div>
                </div>
            </div>

            <div class="categories-section__item none-border">
                <h3 class="item__title">It management</h3>
                <div class="item__hover__info">
                    <p class="item__decs">Quisque vel erat sed orci pellentesf vulputate vitae imperdiet est. Etiam sit amet hendrerit dolor, quis volutp libero. Etiam scelerisque convallis augue, non ultrices magna tristique eget.</p>
                    <div class="item__arrow"><img src="../../../img/icon/blue-arrow.svg" alt="blue arrow" width="35" height="42"></div>
                </div>
            </div>
        </div>
    </div>
</section>
