<section class="section-team" id="team">
    <div class="team-section container" >
        <div class="team-section__main-desc">
            <div class="team-section__teach-box blue-box__joel">
                <p class="teach-box__desc">“Lorem ipsum dolor sitamests, consectetur adipiscing elsdit, sed do eiusmod temporincidid ut labore max.”</p>
                <p class="teach-box__name">Joel Pristly</p>
                <img src="../../../img/team/joel.jpg" alt="joel" class="teach-box__img" width="250" height="250">
            </div>
            <div class="team-section__about-team">
                <h2 class="team-section__title text-focus-in">our team</h2>
                <p class="team-section__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elitsinere. Maecenas fringilla risus id egestas congue. Praesent blandit, ipsum vel placerat congue, eros orci gravida nunc, ac tempus dui augue aliquam tortor. Suspendisse vel dolor egestas, fovc ultricies lectus vitae, fringilla nunc. Quisque vel erat sed orci pellentesque vulputate vitae imperdiet est. Etiam sit ametwe hendrerit dolor, quis volutpat libero. Etiam scelerisque convlis augue, non ultrices magna tristique eget.</p>
                <img src="../../../img/team/team.jpg" alt="team" class="team-section__img" width="560" height="322">
            </div>
            <div class="team-section__teach-box yellow-box">
                <span class="yellow-box__round"></span>
                <p class="teach-box__desc yellow-box__desc">“Duis sit amet sodales felis. Duis nunc eros, mattis at dui ac, convallis semper risus. In adipiscing ultrices tellus, in suscipit massa vehicula eu.”</p>
                <p class="teach-box__name yellow-box__name">jerry MIdrey</p>
                <img src="../../../img/team/jerry.png" alt="jerry" class="teach-box__img yellow-box__img" width="211" height="275">
            </div>
        </div>
        <div class="team-section__count">
            <div class="team-section__teach-box white-box">
                <span class="white-box__round"></span>
                <p class="teach-box__desc white-box__desc">“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, UXY consectetur, adipisc.”</p>
                <p class="teach-box__name white-box__name">Suzi Shell</p>
                <img src="../../../img/team/suzi.png" alt="suzi" class="teach-box__img white-box__img" width="190" height="250">
            </div>
            
            <div class="team-section__counter">
                <div class="counter__item">
                    <h4 class="counter__numb">>50</h4>
                    <p class="counter__desc">Released Groups</p>
                </div>
                <div class="counter__item">
                    <h4 class="counter__numb">+200</h4>
                    <p class="counter__desc">employed students</p>
                </div>
                <div class="counter__item">
                    <h4 class="counter__numb">~250</h4>
                    <p class="counter__desc">successful projects</p>
                </div>
            </div>
        </div>
    </div>
</section>