.section-why {
    padding-top: 80px;
    padding-bottom: 80px;
}
.why-section {

		&__title {
            max-width: 392px;
            padding: 12px 40px;
            border-radius: 40px;
            border: 1px solid var(--c-black);
            background: var(--c-bg-box);
            color: var(--c-black);
            font-family: var(--ff-subtitle);
            font-size: 48px;
            font-weight: 400;
            letter-spacing: 7.68px;
            text-transform: uppercase;
            margin-bottom: 60px;
            @include mobile {
                margin-top: 0px;
                font-size: 24px;
                max-width: 286px;
                margin-bottom: 40px;
            }
		}

		&__desc {
            max-width: 660px;
            color: var(--c-black);
            font-family: var(--ff);
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 2.56px;
            margin-bottom: 40px;
		}

		&__advantages {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            @include mobile {
                display: grid;
                gap: 20px;
            }
		}
}

.advantages {

		&__item {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 40px;
		}

		&__desc {
            min-width: 219px;
            color: var(--c-white);
            font-family: var(--ff);
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 2.24px;
		}
}

.blue-card {
    margin-top: 120px;
    max-width: 256px;
    background: var(--c-main);
    @include mobile {
        max-width: 350px;
        margin-top: 0px;
        width: 100%;
    }
}

.yellow-card {
    max-width: 256px;
    background: var(--c-secondary);
    align-items: flex-start;
    color: var(--c-black);
    @include mobile {
        max-width: 350px;
        margin-top: 0px;
        width: 100%;
    }
}

#team-hands {
    margin-top: 40px;
    @include mobile {
        margin-top: 0px;
        width: 100%;
    }
}

#touch {
    margin-top: 80px;
    @include mobile {
        margin-top: 0px;
        width: 100%;
    }
}

#developer {
    margin-top: 60px;
    @include mobile {
        margin-top: 0px;
        width: 100%;
    }
}